<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->
